.ssc-cursor
	width: 2px
	height: 100%
	background-color: #222
	display: inline-block
	animation-name: blink
	animation-duration: 1s
	animation-iteration-count: infinite
	margin-left: -1px
	margin-right: -1px

@keyframes blink
	0%
		opacity: 1
	50%
		opacity: 0
