.ssc
	.ssc-row
		position: relative

	.ssc-divider
		position: absolute
		top: 0
		left: calc(50% - 1px)
		height: 100%
		width: 1px

	.ssc-btn
		width: 100%
		text-transform: uppercase
		&.ssc-btn-left
			border-top: 1px solid #e5e5e5;
			border-left: 1px solid #e5e5e5;
		&.ssc-btn-right
			border-top: 1px solid #e5e5e5;
			border-right: 1px solid #e5e5e5;

	.ssc-input
		&.ssc-input-left
			border-bottom: 1px solid #e5e5e5;
			border-left: 1px solid #e5e5e5;
		&.ssc-input-right
			border-bottom: 1px solid #e5e5e5;
			border-right: 1px solid #e5e5e5;
