.ssc
	.ssc-row
		position: relative

	.ssc-divider
		position: absolute
		top: 0
		left: calc(50% - 1px)
		height: 100%
		width: 1px

	.ssc-btn
		width: 100%
		text-transform: uppercase
		&.ssc-btn-left
			border-top: 1px solid #e5e5e5;
			border-left: 1px solid #e5e5e5;
		&.ssc-btn-right
			border-top: 1px solid #e5e5e5;
			border-right: 1px solid #e5e5e5;

	.ssc-input
		&.ssc-input-left
			border-bottom: 1px solid #e5e5e5;
			border-left: 1px solid #e5e5e5;
		&.ssc-input-right
			border-bottom: 1px solid #e5e5e5;
			border-right: 1px solid #e5e5e5;

	.ssc-arrow-icon
		position: absolute
		top: 50%
		z-index: 10
		color: black
		font-size: 1rem
		background-color: #fff
		box-shadow: 0 0 0 1px rgba(213, 213, 213, .6)
		display: inline-block
		padding: 0 0 .1rem .1rem
		margin-left: -.9rem
		border-radius: 20px
		height: 1.8rem
		width: 1.8rem
		line-height: 1.8rem
		text-align: center
