.ssc-picker
	.ssc-picker-selector
		position: fixed
		top: 0
		left: 0
		height: 100%
		width: 100%
		overflow: hidden
		z-index: 5
	
	.ssc-picker-selector-mask
		position: absolute
		top: 0
		left: 0
		height: 100%
		width: 100%
		z-index: 10

	.ssc-select-wrapper
		position: absolute
		bottom: 0
		width: 100%
		background-color: #fff
		padding-bottom: 1rem
		overflow: hidden
		text-align: right
		z-index: 20
	
	.ssc-picker-deactivate
		text-transform: uppercase
		font-size: 1.2rem
		margin: .5rem .7rem
