.sizing-box

	.sizing-box-row
		position: relative

	.sizing-box-divider
		position: absolute
		top: 0
		left: calc(50% - 1px)
		height: 100%
		width: 1px

	.sizing-box-btn
		width: 100%

		&.sizing-box-btn-left
			border-top: 1px solid #e5e5e5;
			border-left: 1px solid #e5e5e5;

		&.sizing-box-btn-right
			border-top: 1px solid #e5e5e5;
			border-right: 1px solid #e5e5e5;

	.sizing-box-input

		&.sizing-box-input-left
			border-bottom: 1px solid #e5e5e5;
			border-left: 1px solid #e5e5e5;

		&.sizing-box-input-right
			border-bottom: 1px solid #e5e5e5;
			border-right: 1px solid #e5e5e5;
