.sizing-help
	padding-bottom: 25px
	width: 100%
	.sizing-step-container
		width: 100%
	.sizing-step
		width: 75%
		min-height: 200px
		background-color: #fff
		border-radius: 5px
		margin: 0 auto
		padding: 1.2rem
	.slick-dots
		position: fixed
		z-index: 20
		bottom: 25px